/* App.css */
body {
  font-family: 'Inter', sans-serif;
}
.text-gradient {
  background: linear-gradient(234.85deg, #27A8E2 -20.45%, #00034A 124.53%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}