/* App.css */
@font-face {
  font-family: "helix-font";
  src: url("./assets/fonts/Hellix-Light.ttf") format("ttf");
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
}

.text-gradient {
  background: linear-gradient(234.85deg, #27a8e2 -20.45%, #00034a 124.53%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bg-gradient {
  background: linear-gradient(234.85deg, #27a8e2 -20.45%, #00034a 124.53%);
}

.helix-font {
  font-family: "helix-font", sans-serif;
}

.swiper-slide {
  width: 390px !important;
}
